.marqueeBanner .item-element {
    display: flex;
    overflow: hidden;
    z-index: 1;
}

.marqueeBanner .marquee .marquee-wrapper {
    display: flex;
    flex: 1 0 auto;
    overflow: hidden;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0em;
}

.marqueeBanner .marquee .marquee-item {
    display: flex;
}

.marqueeBanner .marquee .marquee-initialize {
    position: absolute;
    left: -9999px;
}

.marqueeBanner .marquee.left {
    justify-content: flex-start;
}

.marqueeBanner .marquee.right {
    flex-direction: row-reverse;
}

.marqueeBanner .marquee.stop {
    justify-content: center;
}

.marquee.use:hover div {
    animation-play-state: paused !important;
}

@keyframes marquee-right-to-left {
    0% {
        transform: translateZ(0)
    }

    100% {
        transform: translate3d(-100%,0,0)
    }
}

@keyframes marquee-left-to-right {
    0% {
        transform: translateZ(0)
    }

    100% {
        transform: translate3d(100%,0,0)
    }
}

#tab_gnb_wrap {
    padding: 20px;
    min-height: 150px;
}

#tab_gnb {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 29px;
    letter-spacing: 0.18em;
}

#tab_gnb > li > a {
    display: block;
    margin: 0 30px 10px 0;
}

.video_wrap {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.video_wrap > div {
    background-color: rgba(240,240,240,1);
    width: 62%;
}

.video_wrap > div > iframe {
    width: 100%;
    vertical-align: middle;
}

.video_wrap > div > img {
    width: 60%;
    margin: 0 auto;
}


.video_wrap ul {
    width: 33%;
}

.video_wrap ul li {
    height: 25%;
}

#cllc_wrap > ul > .video_wrap:first-child > ul , 
#cllc_wrap > ul > .video_wrap:nth-child(3) > ul {
    order: -1;
}

#cllc_wrap > ul > .video_wrap:nth-child(2) > ul {
    text-align: right;
}

#cllc_wrap > ul > .video_wrap:nth-child(3) > div {
    background-color: rgba(240,240,240,0);
    text-align: center;
}